/* print CSS - Modify elements for printed output */
/* hide this stuff */
#navbar {
	display: none;
}
div.feedbacklink {
	display: none;
}
#breadcrumb {
	display: none;
}
div.alphabar {
	display: none;
}
/* change margins of content-fmi container*/

blockquote.content-fmi {
	margin: 0px;
	padding: 0px;
}
/* set body margines to zero  */

body {
	padding: 0px;
	margin: 0px;
}